@use '../variables'

#portfolio
  display: flex
  flex-direction: column
  flex-wrap: wrap
  padding: 3rem
  gap: 3 rem

  h2
    width: 100%
    font-size: 3rem
    margin-bottom: 4rem
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    border: 1px solid #FFF
