@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')

$font-stack: "Montserrat"
$text-color: #0f172a
$text-color-secondary: #f4f4f4
$body-bg-color: #0f172a
$bg-color: pink
$bg-color-secondary: blue
$card-border-radius: 5px
$container-border-radius: 10px
$gradient: linear-gradient(357deg, rgba(255,255,255,1) 0%, rgba(162,162,162,1) 100%)
