@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap')


$font-stack: "Montserrat"
$text-color: #383b4c
$text-color-secondary: #fafafa
$bg-color: #fdb833
$bg-color-secondary: #7cffcb
$card-border-radius: 5px
$container-border-radius: 10px
$gradient: radial-gradient(circle, rgba(125,136,167,1) 0%, rgba(56,59,74,1) 100%) 
$gradient-secondary: linear-gradient(0deg, rgba(193,255,252,0.74) 0%, rgba(232,232,232,0.83) 50%, rgba(201,255,252,0.84) 100%)
$gradient-secondary-font: linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(201,255,252,0.844958051580007) 100%)
